$primary-colour: #E7AC16;
$background-colour1: #2E4CF5;
$background-colour2: #4B91F2;
$link-colour-background: #000000;
$link-colour: #FFFFFF;
$project-link: #000000;
$shadow-colour: #82B4FA;
$nav-bar-hover: #1F3340;
$hr-colour: #000000;